/*Monitor*/
@media all and (min-width: 1280px) {
  .detailContainer{
    padding: 25px;
    border-radius: 1px;
    margin-top: 30px;
    max-height: 80vh;
    width: 80%;
    color: lightgrey;
    display: inline-block;
        float: left;
  }

}

/*Macbook*/
@media all and (max-width: 1279px) and (min-width: 768px) {
  .detailContainer{
    padding: 25px;
    border-radius: 1px;
    margin-top: 30px;
    max-height: 80vh;
    width: 75%;
    margin: 0 auto;
    color: lightgrey;
display: inline-block;
    float: left;
  }

}

/*phone*/
@media all and (max-width: 767px) and (min-width: 1px) {
  .detailContainer{
    padding: 25px;
    border-radius: 1px;
    margin-top: 30px;
    max-height: 500px;
    width: 100%;
    margin: 0 auto;
    color: lightgrey;
        float: left;
  }

}
.media-heading{
  display: inline-block;
}
.buttheadContainer{
    display: inline-block;
    width: 8%;
    vertical-align:top;
}
