/*Monitor*/
@media all and (min-width: 1280px) {
  .detailContainer{
    padding: 25px;
    border-radius: 1px;
    margin-top: 30px;
    max-height: 80vh;
    overflow: scroll;
    max-width: 900px;
    margin: 0 auto;
    color: lightgrey;
  }

}

/*Macbook*/
@media all and (max-width: 1279px) and (min-width: 768px) {
  .detailContainer{
    padding: 25px;
    border-radius: 1px;
    margin-top: 30px;
    max-height: 80vh;
    overflow: scroll;
    max-width: 900px;
    margin: 0 auto;
    color: lightgrey;
  }

}

/*phone*/
@media all and (max-width: 767px) and (min-width: 1px) {
  .detailContainer{
    padding: 25px;
    border-radius: 1px;
    margin-top: 30px;
    max-height: 500px;
    overflow: scroll;
    max-width: 900px;
    margin: 0 auto;
    color: lightgrey;
  }

}
