/*Monitor*/
@media all and (min-width: 1280px) {
  .contentContainer{
    width: 90%;
    height: 500px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 0 auto;
  }


}

/*Macbook*/
@media all and (max-width: 1279px) and (min-width: 768px) {
  .contentContainer{
    width: 90%;
    height: 500px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 0 auto;
  }


}

/*phone*/
@media all and (max-width: 767px) and (min-width: 1px) {
  .contentContainer{
    width: 90%;
    height: 500px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 0 auto;
  }


}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.contentContainer{
  overflow: auto;
  max-height: 850px;
  min-height: 500px;
}
