/*Monitor*/
@media all and (min-width: 1280px) {

}

/*Macbook*/
@media all and (max-width: 1279px) and (min-width: 768px) {

}

/*phone*/
@media all and (max-width: 767px) and (min-width: 1px) {

}
.modelContainer{
  width: auto;
   height: 100px;
   width: 100px;
   margin-bottom: 42px;
   display: inline-block;
   vertical-align: middle;
 }
.modelContainer canvas{
  width: 100%;
  height: 100%;
 }
